<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RESTfulFrameworkConnection" connectionString="server=127.0.0.1;port=3308;user id=root;password=123456abc;persistsecurityinfo=True;database=restfulframework"/>
  </connectionStrings>
  <appSettings>
    <add key="DataServiceBaseUrl" value="http://localhost:8736"/>
    <add key="DataServiceRelativeUrl" value="/DataService" />
    
    <add key="UserServiceBaseUrl" value="http://localhost:8737"/>
    <add key="UserServiceRelativeUrl" value="/UserService" />
  </appSettings>

</configuration>