# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


obj/
bin/
Debug/
packages/
*.pdb
*.pdb
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
*.cache
*.pdb
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.dll
*.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.pdb
RESTfulFramework.NET.ConsoleWCF/bin/Debug/RESTfulFramework.NET.Service.exe
*.dll
RESTfulFramework.NET.ConsoleWCF/obj/Debug/RESTfulFramework.NET.ConsoleWCF.csprojResolveAssemblyReference.cache
*.pdb
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
*.dll
*.dll
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.pdb
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Security/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Security/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.pdb
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.ConsoleWCF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.svn-base
.svn/entries
*.db
.svn/wc.db-journal
.svn/format
bin/Security/RESTfulFramework.NET.Common.dll
bin/Units/RESTfulFramework.NET.Units.dll
bin/Units/RESTfulFramework.NET.ComponentModel.dll
bin/Security/RESTfulFramework.NET.ComponentModel.dll
bin/Security/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.Business/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Business/obj/Debug/RESTfulFramework.NET.Business.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.pdb
RESTfulFramework.NET.ComponentModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.csproj.FileListAbsolute.txt
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.dll
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.pdb
RESTfulFramework.NET.DataService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csproj.FileListAbsolute.txt
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.dll
*.pdb
RESTfulFramework.NET.Security/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.dll
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.pdb
RESTfulFramework.NET.Units/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.dll
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.pdb
RESTfulFramework.NET.UserService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csproj.FileListAbsolute.txt
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.dll
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.pdb
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.pdb
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.dll
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.pdb
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.dll
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.pdb
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.dll
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.pdb
RESTfulFramework.NET.Units/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.dll
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.pdb
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.dll
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.pdb
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.pdb
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.dll
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.pdb
RESTfulFramework.NET.DataService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csproj.FileListAbsolute.txt
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.dll
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.pdb
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.dll
RESTfulFramework.NET.Security/obj/Debug/RESTfulFramework.NET.Security.pdb
RESTfulFramework.NET.Units/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.csproj.FileListAbsolute.txt
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.dll
RESTfulFramework.NET.Units/obj/Debug/RESTfulFramework.NET.Units.pdb
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csproj.FileListAbsolute.txt
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.csprojResolveAssemblyReference.cache
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.dll
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.pdb