# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


obj/
bin/
Debug/
packages/
*.pdb
*.pdb
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.csprojResolveAssemblyReference.cache
*.cache
*.pdb
RESTfulFramework.NET.UserService/obj/Debug/RESTfulFramework.NET.UserService.dll
*.cache
RESTfulFramework.NET.Common/obj/Debug/RESTfulFramework.NET.Common.dll
RESTfulFramework.NET.ComponentModel/obj/Debug/RESTfulFramework.NET.ComponentModel.pdb
RESTfulFramework.NET.ConsoleWCF/bin/Debug/RESTfulFramework.NET.Service.exe
*.dll
RESTfulFramework.NET.ConsoleWCF/obj/Debug/RESTfulFramework.NET.ConsoleWCF.csprojResolveAssemblyReference.cache
*.pdb
RESTfulFramework.NET.DataService/obj/Debug/RESTfulFramework.NET.DataService.csprojResolveAssemblyReference.cache
*.dll
*.dll