<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RESTfulFrameworkConnection" connectionString="server=127.0.0.1;port=3308;user id=root;password=123456abc;persistsecurityinfo=True;database=restfulframework"/>
  </connectionStrings>
  <appSettings>
    <add key="baseUrl" value="http://localhost:8735"/>
    <add key="relativeUrl" value="/UserService" />
  
  </appSettings>

</configuration>