<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="RESTfulFrameworkConnection" connectionString="Data Source=test.sqlite;Version=3;"/>

   <!--<add name="RESTfulFrameworkConnection" connectionString="server=127.0.0.1;port=3306;user id=root;password=123456abc;persistsecurityinfo=True;database=restfulframework"/>-->
  </connectionStrings>
  <appSettings>
    <add key="DataServiceBaseUrl" value="http://localhost:8736"/>
    <add key="DataServiceRelativeUrl" value="/DataService" />
    
    <add key="UserServiceBaseUrl" value="http://localhost:8737"/>
    <add key="UserServiceRelativeUrl" value="/UserService" />

    <add key="redis_address" value="127.0.0.1"/>
    <add key="redis_port" value="6379"/>
  </appSettings>

</configuration>