<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="Content/jquery.mobile.theme-1.4.5.css" rel="stylesheet" />
    <link href="Content//jquery.jsonview.css" rel="stylesheet" />
</head>
<body>
    <script src="Scripts/jquery-2.2.2.min.js"></script>
    <script src="Scripts/JsonView/jquery.jsonview.js"></script>
    <script src="Scripts/jquery.md5.js"></script>

    <script src="Scripts/angular.min.js"></script>
    <script src="TypeScript/Sign.js"></script>
    <script src="TypeScript/ConfigInfo.js"></script>
    <script src="TypeScript/HttpHelper.js"></script>
    <script src="TypeScript/UserHttpHelper.js"></script>
    <script src="TypeScript/DbSqliteHelper.js"></script>
    <script src="TypeScript/DataHttpHelper.js"></script>

    <div ng-app="app">
        <div ng-controller="TestController">
            <div>
                <input type="text" value="{{item.realname}}" ng-repeat="item in item_infos" />
            </div>
        </div>


        <div ng-controller="TestController">


            <div>
                <input type="text" value="{{item.realname}}" ng-repeat="item in item_infos" />
            </div>
            <button type="button" ng-click="AddName()">添加</button>
        </div>
    </div>
    <form></form>
    <script>
        var ng = angular.module("app", []);
        ng.controller("TestController", function ($scope) {
            $scope.item_infos = [];
            $scope.item_infos.push({ realname: "小明" })
            $scope.item_infos.push({ realname: "小红" })
            $scope.item_infos.push({ realname: "小东" })
            $scope.AddName = function () {
                $scope.item_infos.push({ realname: "小李" })
                $scope.$apply();
            }

        });

    </script>
</body>
</html>
