<!doctype html>
<html ng-app="app">
<head>
    <!--manifest="demo.appcache"-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>RESTfulFramework接口测试工具</title>
    <link href="Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <link href="Content/jquery.mobile.theme-1.4.5.css" rel="stylesheet" />
    <link href="Content/jquery.jsonview.css" rel="stylesheet" />
</head>
<body>
    <script src="Scripts/jquery-2.2.2.min.js"></script>
    <script src="Scripts/JsonView/jquery.jsonview.js"></script>
    <script src="Scripts/jquery.md5.js"></script>
    <script src="Scripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="TypeScript/Sign.js"></script>
    <script src="TypeScript/ConfigInfo.js"></script>
    <script src="TypeScript/HttpHelper.js"></script>
    <script src="TypeScript/UserHttpHelper.js"></script>
    <script src="TypeScript/DbSqliteHelper.js"></script>
    <script src="TypeScript/DataHttpHelper.js"></script>
    <script src="Model/UrlParse.js"></script>
    <script src="Controller/TestApiController.js"></script>
    <script src="Model/Layout.js"></script>

    <div data-role="page" data-theme="b" ng-controller="ApiInfoController">
        <div data-role="header" class="ui-header-fixed">
            <h3>简趣接口测试工具</h3>
            <a id="setConfigButton" href="#dialogSetConfigPage" data-rel="dialog" data-icon="gear" class="ui-btn ui-corner-all ui-icon-gear ui-btn-icon-notext ui-btn-right">设置</a>
            <a id="refreshPage" href="javascript:window.location.reload()"   class="ui-btn ui-corner-all ui-icon-refresh ui-btn-icon-notext ui-btn-left">刷新</a>

          </div>
        <div style="height:30px"></div>
        <div data-role="content">
            <!--请求内容-->
            <section id="requestContentSection">
                <label>请求内容：</label>
                <textarea id="bodyTextarea"></textarea>
            </section>

            <!--接口列表-->
            <section>

                <div class="ui-grid-a">
                    <label id="apiNameListLabel" for="apiNameList" class="ui-block-a">接口名称：</label>
                    <div class="ui-block-b">
                        <select id="apiNameList" ng-model="apiInfoSelected" ng-options="apiInfo.name for apiInfo in apiInfoList" ng-change="SwithApi()"></select>
                    </div>
                </div>

                <!--请求方式-->
                <div class="ui-grid-a">
                    <label id="apiRequestModeLabel" for="apiRequestMode" class="ui-block-a">请求方式：</label>
                    <div class="ui-block-b">
                        <select id="apiRequestMode" ng-model="apiInfoRequestMethod" ng-options="requestMethod.name for requestMethod in apiInfoRequestMethodList" ng-change="SwithRequestMethod()"></select>
                    </div>
                </div>

                <div data-role="collapsible" data-collapsed="false">
                    <h3>url参数</h3>
                    <div class="ui-grid-a" ng-repeat="apiForm in apiFormList">
                        <label class="ui-block-a my-api-input-label">&nbsp;&nbsp;{{apiForm.key}}</label>
                        <div class="ui-block-b">
                            <input type="text" class="my-api-input" ng-model="apiForm.value" name="{{apiForm.key}}" value="{{apiForm.value}}" ng-keyup="FormInputTextChange()" />

                        </div>
                    </div>
                    <input id="api" type="hidden" value="{{id}}" />
                    <div style="visibility: {{tokenShow}}">
                        <input id="tokenInput" ng-model="token" />
                    </div>
                    <div>
                        <a id="apiUrl" href="{{fullApiUrl}}">{{fullApiUrl}}</a>
                    </div>
                </div>
            </section>

            <!--响应内容-->
            <section>
                <style>
                    #responseDiv > div {
                        background-color: black;
                    }
                </style>
                <div id="responseDiv" data-role="collapsible" data-collapsed="false">
                    <h3>响应内容</h3>
                    <div id="responseView"></div>
                </div>
            </section>
        </div>

        <div style="height:20px"></div>
        <div data-role="footer" class="ui-footer-fixed">
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a id="testApiButton" data-icon="arrow-r" ng-click="TestApiClick()">测试</a></li>
                    <li><a id="addApiButton" href="#dialogAddInterfacePage" data-rel="dialog" data-icon="plus">添加</a></li>
                    <li><a id="deleteApiButton" href="#" data-icon="delete">删除</a></li>
                    <li><a id="updateApiButton" href="#dialogUpdateInterfacePage" data-rel="dialog" data-icon="edit">修改</a></li>
                </ul>
            </div>
        </div>

    </div>

    <!--添加接口对话框-->
    <section id="dialogAddInterfacePage" data-role="page" data-theme="b">
        <div data-role="header">
            <h3>添加接口</h3>
        </div>
        <div data-role="content" class="ui-content">
            <div>
                <input id="apiInfoName" type="text" placeholder="接口中文名称" />
                <input id="apiName" type="text" placeholder="API" />
                <textarea id="requestInfoData" placeholder="请求数据"></textarea>
                <textarea id="requestApiUrl" placeholder="绝对地址(可选,一般不填)"></textarea>
                <select id="apiInfoRequestMode">
                    <option>POST</option>
                    <option>GET</option>
                </select>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a id="ok" href="#" data-role="button" data-rel="back">确定</a>
                </div>
                <div class="ui-block-b">
                    <a id="cancel" href="#" data-role="button" data-rel="back">取消</a>
                </div>
            </div>
        </div>
    </section>

    <!--更新接口对话框-->
    <section id="dialogUpdateInterfacePage" data-role="page" data-theme="b">
        <div data-role="header">
            <h3>修改接口</h3>
        </div>
        <div data-role="content" class="ui-content">
            <div>
                <input id="apiInfoId2" type="hidden" />
                <input id="apiInfoName2" type="text" placeholder="接口中文名称" />
                <input id="apiName2" type="text" placeholder="API(必须且唯一值)" />
                <textarea id="requestInfoData2" placeholder="请求数据"></textarea>
                <textarea id="apiUrl2" placeholder="绝对地址(可选,一般不填)"></textarea>
                <select id="apiInfoRequestMode2">
                    <option>POST</option>
                    <option>GET</option>
                </select>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a id="ok2" href="#" data-role="button" data-rel="back">确定</a>
                </div>
                <div class="ui-block-b">
                    <a id="cancel2" href="#" data-role="button" data-rel="back">取消</a>
                </div>
            </div>
        </div>
    </section>

    <!--设置基础配置对话框 -->
    <section id="dialogSetConfigPage" data-role="page" data-theme="b">
        <div data-role="header">
            <h3>设置</h3>
        </div>
        <div data-role="content" class="ui-content">
            <div>
                <input id="apiIntefaceDataBaseUrl" type="text" placeholder="接口列表信息基础地址" />
                <input id="apiDataBaseUrl" type="text" placeholder="数据接口基础地址" value="http://www.***.com/DataService" />
                <input id="apiUserBaseUrl" type="text" placeholder="用户接口基础地址" value="http://www.***.com/UserService" />
                <input id="secretKey" placeholder="用于签名的密钥" />
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a id="okSet" href="#" data-role="button" data-rel="back">确定</a>
                </div>
                <div class="ui-block-b">
                    <a id="cancelSet" href="#" data-role="button" data-rel="back">取消</a>
                </div>
            </div>
        </div>
    </section>


    <script>
        var apiInfos = new Object();
        ConfigInfo.BaseDataServiceUrl = localStorage.BaseDataServiceUrl;
        ConfigInfo.BaseUserServiceUrl = localStorage.BaseUserServiceUrl;
        ConfigInfo.SecretKey = localStorage.SecretKey;
        ConfigInfo.InterfaceDataServiceUrl = localStorage.InterfaceDataServiceUrl;


    </script>

    <script>
        $(document).ready(function () {

            setMiddle(document.getElementById("apiNameListLabel"));
            setMiddle(document.getElementById("apiRequestModeLabel"));


            $("#apiDataBaseUrl").val(ConfigInfo.BaseDataServiceUrl);;

            $("#apiUserBaseUrl").val(ConfigInfo.BaseUserServiceUrl);;

            $("#apiIntefaceDataBaseUrl").val(ConfigInfo.InterfaceDataServiceUrl);

            $("#secretKey").val(ConfigInfo.SecretKey);;

            $("#addApiButton").click(function () { });

            $("#deleteApiButton").click(function () {
                var db = new DbSqliteHelper();
                db.DeleteApiTestInfo($("#api").val(), function (data, textStatus, jqXHR) {
                    if (textStatus == "success") {
                        if (data.Code > 0) {
                            alert("删除成功！");
                            window.location.reload();
                        }
                    }
                });

            });

            $("#apiNameList").change(function (eventObject) {
                var itemid = $("#apiNameList").find("option:selected").text();
                for (var i = 0; i < apiInfos.length; i++) {
                    if (apiInfos[i].name == itemid) {
                        //请求的body信息
                        $("#bodyTextarea").text(apiInfos[i].body);

                    }
                }
                setMiddle(document.getElementById("apiNameListLabel"));
                setMiddle(document.getElementById("apiRequestModeLabel"));
                $("#bodyTextarea").textinput("refresh");
            });

            $("#ok").click(function () {
                var db = new DbSqliteHelper();
                //apiUrl
                db.CreateApiTestInfo($("#apiName").val(), $("#apiInfoName").val(), $("#requestInfoData").val(), $("#apiInfoRequestMode").val(), $("#requestApiUrl").val(), function (data, textStatus, jqXHR) {
                    if (data.Code > 0) {
                        alert("添加成功！");
                        window.location.reload();
                    }
                    else {
                        alert("添加失败！");
                    }
                });
            });

            $("#cancel").click(function () {
                $('input').textinput();
            });

            $("#okSet").click(function () {
                localStorage.BaseDataServiceUrl = $("#apiDataBaseUrl").val();
                localStorage.BaseUserServiceUrl = $("#apiUserBaseUrl").val();
                localStorage.SecretKey = $("#secretKey").val();;
                localStorage.InterfaceDataServiceUrl = $("#apiIntefaceDataBaseUrl").val();

                ConfigInfo.BaseDataServiceUrl = $("#apiDataBaseUrl").val();
                ConfigInfo.BaseUserServiceUrl = $("#apiUserBaseUrl").val();
                ConfigInfo.SecretKey = $("#secretKey").val();
                ConfigInfo.InterfaceDataServiceUrl = $("#apiIntefaceDataBaseUrl").val();
                window.location.reload();
            });

            $("#cancelSet").click(function () {
                $("#apiDataBaseUrl").val(ConfigInfo.BaseDataServiceUrl);;
                $("#apiUserBaseUrl").val(ConfigInfo.BaseUserServiceUrl);;
                $("#secretKey").val(ConfigInfo.SecretKey);
                $("#apiIntefaceDataBaseUrl").val(ConfigInfo.InterfaceDataServiceUrl);
            });

            $("#apiNameList").change(function () {
                try {
                    $('.my-api-input').textinput();
                    $('#apiInfoRequestMode').selectmenu('refresh', true);
                } catch (e) { }

                try {
                    $('#apiRequestMode').selectmenu('refresh', true);
                } catch (e) { }
                try {
                    $("#tokenInput").textinput();
                } catch (e) {

                }
                var elememts = document.getElementsByClassName("my-api-input-label");
                for (var i = 0; i < elememts.length; i++) {
                    setMiddle(elememts[i]);
                }

                var requestMode = $("#apiRequestMode").find("option:selected").text();
                if (requestMode == "GET") {
                    $("#requestContentSection").hide();
                }
                else {
                    $("#requestContentSection").show();
                }
            });

            $("#apiRequestMode").change(function () {
                var requestMode = $("#apiRequestMode").find("option:selected").text();
                if (requestMode == "GET") {
                    $("#requestContentSection").hide();
                }
                else {
                    $("#requestContentSection").show();
                }
            });

            $("#updateApiButton").click(function () {
                var db = new DbSqliteHelper();
                db.GetApiTestInfo($("#api").val(), function (data, textStatus, jqXHR) {
                    if (textStatus == "success") {
                        if (data.Code > 0) {

                            $("#apiInfoId2").val(data.Msg.id);
                            $("#apiName2").val(data.Msg.api);
                            $("#apiInfoName2").val(data.Msg.name);
                            $("#requestInfoData2").val(data.Msg.body);
                            $("#apiInfoRequestMode2").val(data.Msg.requestMethod);
                            $("#apiUrl2").val(data.Msg.url);
                        }
                    }
                });
            });

            $("#ok2").click(function () {
                var db = new DbSqliteHelper();
                db.UpdateApiTestInfo($("#apiInfoId2").val(), $("#apiName2").val(), $("#apiInfoName2").val(), $("#requestInfoData2").val(), $("#apiInfoRequestMode2").val(), $("#apiUrl2").val(), function (data, textStatus, jqXHR) {
                    if (data.Code > 0) {
                        alert("更新成功！");
                        window.location.reload();
                    }
                    else {
                        alert("更新失败！");
                    }
                });
            });


        });
    </script>


</body>
</html>
