<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="RESTfulFrameworkConnection"  connectionString="server=222.73.130.91;port=3306;user id=root;password=123456_abc;persistsecurityinfo=True;database=jianqu"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="DataRestBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="UserRestBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <standardEndpoints />
    <services>
      <service name="RESTfulFramework.NET.DataService.DataService" behaviorConfiguration="DataRestServiceBehavior" >
        <endpoint  name="DataRestServicePoint"  behaviorConfiguration="DataResteEndpointBehavior"  binding="webHttpBinding" bindingConfiguration="DataRestBinding" contract="RESTfulFramework.NET.ComponentModel.IService" />
      </service>
      <service name="RESTfulFramework.NET.UserService.UserService" behaviorConfiguration="UserRestServiceBehavior" >
        <endpoint  name="UserRestServicePoint"  behaviorConfiguration="UserResteEndpointBehavior"  binding="webHttpBinding" bindingConfiguration="UserRestBinding" contract="RESTfulFramework.NET.ComponentModel.IUserService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="DataResteEndpointBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="UserResteEndpointBehavior">
          <webHttp helpEnabled="true" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DataRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"  />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
        </behavior>
        <behavior name="UserRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"  />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>